html{
    margin: 0;
}
span{
    display: block;
}
.canvas{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button{
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;

}
#grey{
    background:grey ;
}
#white{
    background: white;

}
#blue{
    background: blue;
}
#yellow{
    background: yellow;
}

img{
    width: 100px;
    display: inline;
    align-items: center;
    text-align: center;
}
#myButton{
    width: 25%;
    height: 100%;
    color: black;
    background-color: white;
    border-radius: 5px;
    font-size: 10px;
    display: inline-block;
text-decoration-style:outset;
border: 3.5px solid grey;

}
